<div class="main-container">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="true" class="app-sidenav">
      <nav>
        <a
          mat-button
          class="link"
          *ngFor="let link of links"
          [routerLink]="link.path"
          routerLinkActive="active"
        >
          <mat-icon class="icon">{{ link.icon }}</mat-icon>
          {{ link.title }}
        </a>
      </nav>
      <br />
      <mat-select>
        <mat-option *ngFor="let city of cities" [value]="city">
          {{ city.name }}
        </mat-option>
      </mat-select>
    </mat-sidenav>

    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>

  <div class="external-container">
    <app-external-home></app-external-home>
  </div>
</div>
